body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

h1 {
  color: blue;
}

h2 {
  color: darkgreen;
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #e68900;
}
